SYST:PRES 'GPRF Gen'
*OPC?
CONF:LTE:MEAS:MEV:DMOD TDD
SYST:PRES 'LTE Meas'
CONF:LTE:MEAS:RFS:FREQ 5865.0000MHz
CONF:LTE:MEAS:BAND OB47
CONF:LTE:MEAS:MEV:CBAN B200
CONFigure:LTE:MEAS:STYPe SCONF:LTE:MEAS:MEV:LIST:SEGM1:SET 20,23,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONFigure:LTE:MEAS:MEValuaCONF:LTE:MEAS:MEV:LIST:SEGM2:SET 20,23,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:RFS:UMAR 12CONF:LTE:MEAS:MEV:LIST:SEGM3:SET 20,23,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:PFOR F1ACONF:LTE:MEAS:MEV:LIST:SEGM3:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
CONF:LTE:MEAS:MEV:MOD:MSCHCONF:LTE:MEAS:MEV:LIST:SEGM4:SET 20,23,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:PLCid 0CONF:LTE:MEAS:MEV:LIST:SEGM4:MOD 1,ON,ON,ON,ON,OFF,OFF,QPSK
CONF:LTE:MEAS:MEV:DSSP 0CONF:LTE:MEAS:MEV:LIST:SEGM4:SEM 1,ON,OFF,ON
CONF:LTE:MEAS:MEV:REP SINGCONF:LTE:MEAS:MEV:LIST:SEGM4:ACLR 1,ON,ON,ON,ON
TRIG:LTE:MEAS:MEV:SOUR 'IFCONF:LTE:MEAS:MEV:LIST:SEGM5:SET 20,21,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
TRIG:LTE:MEAS:MEV:SLOP REDCONF:LTE:MEAS:MEV:LIST:SEGM5:MOD 1,ON,ON,ON,ON,OFF,ON,QPSK
TRIG:LTE:MEAS:MEV:THR -20CONF:LTE:MEAS:MEV:LIST:SEGM5:SEM 1,ON,ON,ON
TRIG:LTE:MEAS:MEV:DEL 0CONF:LTE:MEAS:MEV:LIST:SEGM5:ACLR 1,ON,ON,ON,ON
TRIG:LTE:MEAS:MEV:TOUT 3CONF:LTE:MEAS:MEV:LIST:SEGM6:SET 20,21,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
TRIG:LTE:MEAS:MEV:LIST:MODCONF:LTE:MEAS:MEV:LIST:SEGM6:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
SOUR:GPRF:GEN:BBM ARBCONF:LTE:MEAS:MEV:LIST:SEGM6:SEM 1,ON,OFF,ON
SOUR:GPRF:GEN:ARB:REP CONTCONF:LTE:MEAS:MEV:LIST:SEGM6:ACLR 1,ON,ON,ON,ON
CONF:LTE:MEAS:MEV:LIST:SEGM7:SET 20,21,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM7:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
CONF:LTE:MEAS:MEV:LIST:SEGM7:SEM 1,ON,OFF,ON
CONF:LTE:MEAS:MEV:LIST:SEGM7:ACLR 1,ON,ON,ON,ON
CONF:LTE:MEAS:MEV:LIST:SEGM8:SET 20,20,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM8:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
CONF:LTE:MEAS:MEV:LIST:SEGM8:ACLR 1,ON,ON,ON,ON
CONF:LTE:MEAS:MEV:LIST:SEGM9:SET 20,20,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM9:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
CONF:LTE:MEAS:MEV:LIST:SEGM9:ACLR 1,ON,ON,ON,ON
CONF:LTE:MEAS:MEV:LIST:SEGM10:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM10:MOD 1,ON,ON,ON,ON,ON,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM11:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM11:MOD 1,ON,ON,ON,ON,OFF,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM12:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM12:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
CONF:LTE:MEAS:MEV:LIST:SEGM13:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM13:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
CONF:LTE:MEAS:MEV:LIST:SEGM14:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM14:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
CONF:LTE:MEAS:MEV:LIST:SEGM15:SET 20,-30,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM15:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
CONF:LTE:MEAS:MEV:LIST:SEGM16:SET 20,-20,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM16:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM17:SET 20,15,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM17:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM18:SET 20,3,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM18:MOD 1,ON,OFF,OFF,OFF,ON,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM19:SET 20,-26,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM19:MOD 1,ON,OFF,OFF,OFF,ON,OFF,QPSK
CONF:LTE:MEAS:MEV:LIST:SEGM20:SET 20,-35,TDD,OB47,5865.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
CONF:LTE:MEAS:MEV:LIST:SEGM20:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
CONF:LTE:MEAS:RFS:ENP 23.0
CONF:LTE:MEAS:MEV:LIST:LRAN 1,20
CONF:LTE:MEAS:MEV:LIST ON
CONF:LTE:MEAS:MEV:LIST:SEGM1:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM2:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM3:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM4:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM5:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM6:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM7:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM8:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM9:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM10:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM11:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM12:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM13:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM14:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM15:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM16:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM17:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM18:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM19:RBAL ON,DEF,DEF
CONF:LTE:MEAS:MEV:LIST:SEGM20:RBAL ON,DEF,DEF


CONFigure:SENSe:LTE:STYPe SL
CONFigure:SENSe:LTE:MEValuation:SCTYpe PSSCh
CONFigure:SENSe:LTE:RFSettings:UMARgin 12
CONFigure:SENSe:LTE:MEValuation:PFORmat F1A
CONFigure:SENSe:LTE:MEValuation:MODulation:MSCHeme AUTO
CONFigure:SENSe:LTE:MEValuation:PLCid 0
CONFigure:SENSe:LTE:MEValuation:DSSPusch 0
CONFigure:SENSe:LTE:MEValuation:REPetition SING
CONFigure:SENSe:LTE:MEValuation:TRIGger:SOURce 'IF Power'
CONFigure:SENSe:LTE:MEValuation:TRIGger:SLOPe REDG
CONFigure:SENSe:LTE:MEValuation:TRIGger:THReshold -20
CONFigure:SENSe:LTE:MEValuation:TRIGger:DELay 0
CONFigure:SENSe:LTE:MEValuation:TRIGger:TOUT 3
CONFigure:SENSe:LTE:MEValuation:TRIGger:LIST:MODE ONCE
CONFigure:SOURce:BBMode ARB
CONFigure:SOURce:ARB:REPetition CONT
>>CONFigure:SOURce:LIST OFF
>>CONFigure:SOURce:BBMode ARB
>>CONFigure:SOURce:ARB:FILE 'Hisi_Ltev_B200_Tx.wv'
>*OPC?

>>CONFigure:SOURce:ARB:FILE?
<<'Hisi_Ltev_B200_Tx.wv'
>>CONFigure:SOURce:ARB:FILE:DATE?
<<"2021-4-9;11:33:57"
>>CONFigure:SOURce:RFSettings:FREQuency 5915.0000MHz
>*OPC?

>>CONFigure:SOURce:RFSettings:LEVel -54.00
>*OPC?
<1
>>CONFigure:SOURce:ARB:REPetition CONT
>*OPC?

>>CONFigure:SOURce:STATe?
<OFF
>>CONFigure:SOURce:STATe ON


>>CONFigure:SOURce:STATe?
>CONFigure:SENSe:LTE:DMODe TDD
>CONFigure:SENSe:LTE:RFSettings:FREQuency 5915.0000MHz
>CONFigure:SENSe:LTE:BAND OB47
>CONFigure:SENSe:LTE:CBANdwidth B200
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent1:SET 20,23,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent2:SET 20,23,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent3:SET 20,23,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent3:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent4:SET 20,23,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent4:MOD 1,ON,ON,ON,ON,OFF,OFF,QPSK
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent4:SEM 1,ON,OFF,ON
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent4:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent5:SET 20,21,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent5:MOD 1,ON,ON,ON,ON,OFF,ON,QPSK
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent5:SEM 1,ON,ON,ON
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent5:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent6:SET 20,21,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent6:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent6:SEM 1,ON,OFF,ON
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent6:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent7:SET 20,21,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent7:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent7:SEM 1,ON,OFF,ON
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent7:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent8:SET 20,20,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent8:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent8:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent9:SET 20,20,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent9:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent9:ACLR 1,ON,ON,ON,ON
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent10:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent10:MOD 1,ON,ON,ON,ON,ON,OFF,QPSK
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent11:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent11:MOD 1,ON,ON,ON,ON,OFF,OFF,QPSK
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent12:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent12:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent13:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent13:MOD 1,ON,ON,ON,ON,OFF,OFF,Q16
>>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent14:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent14:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent15:SET 20,-30,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent15:MOD 1,ON,ON,ON,ON,OFF,OFF,Q64
[>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent16:SET 20,-20,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent16:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
[>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent17:SET 20,15,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent17:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
[>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent18:SET 20,3,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent18:MOD 1,ON,OFF,OFF,OFF,ON,OFF,QPSK
[>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent19:SET 20,-26,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent19:MOD 1,ON,OFF,OFF,OFF,ON,OFF,QPSK
[>CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent20:SET 20,-35,TDD,OB47,5915.000000E+6,B200,NORM,PSSCH,OFF,5,NS01
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent20:MOD 1,ON,OFF,OFF,OFF,OFF,OFF,QPSK
[CONFigure:SENSe:LTE:RFSettings:ENPower 23.0
[CONFigure:SENSe:LTE:MEValuation:LIST:LRANge 1,20
[CONFigure:SENSe:LTE:MEValuation:LIST ON
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent1:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent2:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent3:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent4:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent5:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent6:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent7:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent8:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent9:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent10:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent11:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent12:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent13:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent14:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent15:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent16:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent17:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent18:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent19:RBAL ON,DEF,DEF
[CONFigure:SENSe:LTE:MEValuation:LIST:SEGMent20:RBAL ON,DEF,DEF
